@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import "tailwindcss";

button {
  cursor: pointer;
}
body {
  font-size: 14px !important;
 font-family: 'Roboto', sans-serif;
 color:#333
}
input, select, textarea {
   border: silver solid 1px; 
}
.success {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-bottom: 15px;
}
.text-lg{
  font-size: 24px !important;
}
.text-md{
  font-size: 18px !important;
}
.text-sm{
  font-size: 14px !important;
}

